<?xml version="1.0"?>
<config>
    <modules>
       <ICheckGateway_Checks>
          <version>1.1.0</version>
       </ICheckGateway_Checks>
    </modules>
 
    <global>
    <blocks>
        <Checks>
            <class>ICheckGateway_Checks_Block</class>
        </Checks>
    </blocks>
 
        <models>
            <Checks>
                <class>ICheckGateway_Checks_Model</class>
            </Checks>
        </models>
 
        <resources>
            <Checks_setup>
                <setup>
                    <module>ICheckGateway_Checks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Checks_setup>
            <Checks_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Checks_write>
            <Checks_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Checks_read>
        </resources>
    </global>
 
    <default>
        <payment>
            <Checks>
                <active>0</active>
                <model>Checks/PaymentMethod</model>
                <order_status>processing</order_status>
                <title>Pay With eCheck</title>
				<siteid>SEDZ</siteid>
				<sitekey>236652</sitekey>
				<apikey>a3GFMBGz6KhkTzg</apikey>
				<livemode>No</livemode>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </Checks>
         </payment>
    </default>
</config>